# Capítulo 3: Anexando ao DataFrame

[Referência](https://riptutorial.com/pandas)

____ 

### Exemplos

Anexando uma nova linha ao DataFrame

In [3]:
import pandas as pd

df = pd.DataFrame(columns = ['A', 'B', 'C'])

df

Empty DataFrame
Columns: [A, B, C]
Index: []

Anexar uma linha por um único valor de coluna:

In [4]:
df.loc[0, 'A'] = 1 # linha 0, coluna 'A'

df

   A    B    C
0  1  NaN  NaN

Anexando uma linha, dada lista de valores:

In [5]:
df.loc[1] = [2, 3, 4] # linha 1, valores 2, 3 e 4

df

   A    B    C
0  1  NaN  NaN
1  2    3    4

Anexar uma linha a um dicionário:

In [7]:
df.loc[2] = {'A': 3, 'C': 9, 'B': 9} # linha 2, na coluna 'A', valor 3. Coluna 'C', valor 9, e assim por diante

df

   A    B    C
0  1  NaN  NaN
1  2    3    4
2  3    9    9

A primeira entrada em **.loc[]** é o índice. Se usarmos um índice existente, substituirá os valores dessa linha:

In [9]:
df.loc[1] = [5, 6, 7] # linha 1, valores 5, 6 e 7. Independemente se há valores ou não

df

   A    B    C
0  1  NaN  NaN
1  5    6    7
2  3    9    9

In [10]:
df.loc[0, 'B'] = 8

df

   A  B    C
0  1  8  NaN
1  5  6    7
2  3  9    9

### Anexe um DataFrame a outro DataFrame.

Vamos supor que temos os dois DataFrames a seguir:

In [13]:
df1 = pd.DataFrame(columns = ['A', 'B'])

df1.loc[0] = {'A': 'a1', 'B': 'b1'}
df1.loc[1] = {'A': 'a2', 'B': 'b2'}

df1

    A   B
0  a1  b1
1  a2  b2

In [14]:
df2 = pd.DataFrame(columns = ['B', 'C'])

df2.loc[0] = {'B': 'b1', 'C': 'c1'}


df2

    B   C
0  b1  c1

Os dois DataFrames não precisam ter o mesmo conjunto de colunas. 

O método **append** não altera nenhum dos DataFrames originais. Em vez disso, ele retorna um novo DataFrame anexando os dois originais. 

Anexar um DataFrame a outro é bastante simples:

In [15]:
df1.append(df2)

     A   B    C
0   a1  b1  NaN
1   a2  b2  NaN
0  NaN  b1   c1

Como você pode ver, é possível ter índices duplicados (0 neste exemplo). Para evitar esse problema, você pode pedir ao Pandas para reindexar o novo DataFrame para você:

In [16]:
df1.append(df2, ignore_index = True)

     A   B    C
0   a1  b1  NaN
1   a2  b2  NaN
2  NaN  b1   c1

Leia o [Anexo ao DataFrame](https://riptutorial.com/pandas/topic/6456/appending-to-dataframe) online.