# Capítulo 6: Ferramentas Computacionais

[Referência](https://riptutorial.com/pandas)

### Exemplos

### Encontre a correlação entre as colunas

Suponha que você tenha um DataFrame de valores numéricos, por exemplo:

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randn(1000, 3), columns=['a', 'b', 'c'])

df.head()

          a         b         c
0 -0.011557  0.344357  0.360732
1 -0.874704  0.377043 -0.553360
2  0.443008 -0.879082 -1.401514
3  0.607010 -0.058897  0.978486
4 -0.205447 -1.096262  0.966816

Então [...]

In [6]:
df.corr()

          a         b         c
a  1.000000  0.041180  0.053006
b  0.041180  1.000000 -0.037072
c  0.053006 -0.037072  1.000000

[...] encontrará a **correlação de Pearson** entre as colunas. Observe como a diagonal é 1, já que cada coluna está (obviamente) totalmente correlacionada com ela mesma.

**pd.DataFrame.correlation** leva um parâmetro de método opcional, especificando qual algoritmo usar o **padrão é pearson**. 

Para usar a **correlação de Spearman**, por exemplo, use:

In [7]:
df.corr(method='spearman')

          a         b         c
a  1.000000  0.052616  0.039212
b  0.052616  1.000000 -0.048991
c  0.039212 -0.048991  1.000000

### Nota

**Correlação de momento de produto de Pearson**

A **correlação de Pearson** avalia a **relação linear entre duas variáveis contínuas**. Uma *relação é linear quando a mudança em uma variável é associada a uma mudança proporcional na outra variável*.

Por exemplo, você poderia usar uma correlação de Pearson para avaliar se aumentos na temperatura da instalação de produção estão associados a uma redução da espessura da cobertura de chocolate.

**Correlação da ordem de posto de Spearman**

A **correlação de Spearman** avalia a **relação monotônica entre duas variáveis contínuas ou ordinais**. Em uma relação monotônica, *as variáveis tendem a mudar juntas mas não necessariamente a uma taxa constante*. O coeficiente de correlação de Spearman baseia-se nos valores classificados de cada variável, em vez de os dados brutos.

A correlação de Spearman é muito usada para avaliar relações envolvendo variáveis ordinais. Por exemplo, você poderia usar a correlação de Spearman para avaliar se a ordem na qual os funcionários executam um teste está relacionada ao número de meses de emprego.

Sempre é uma boa idéia examinar a relação entre variáveis com um gráfico de dispersão. Os coeficientes de correlação medem apenas relacionamentos lineares (Pearson) ou monotônicos (Spearman).

[Link](https://support.minitab.com/pt-br/minitab/18/help-and-how-to/statistics/basic-statistics/supporting-topics/correlation-and-covariance/a-comparison-of-the-pearson-and-spearman-correlation-methods/) de referência.

Leia as [ferramentas computacionais](https://riptutorial.com/pandas/topic/5620/computational-tools) online.