# Capítulo 10: Lidando com variáveis categóricas

[Referência](https://riptutorial.com/pandas)

### Exemplos

Codificação one-hot com **get_dummies ()**

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'Name':['John Smith', 'Mary Brown'],
                   'Gender':['M', 'F'], 'Smoker':['Y', 'N']})

df

         Name Gender Smoker
0  John Smith      M      Y
1  Mary Brown      F      N

In [4]:
df_with_dummies = pd.get_dummies(df, columns=['Gender', 'Smoker'])

In [7]:
df

         Name Gender Smoker
0  John Smith      M      Y
1  Mary Brown      F      N

In [6]:
print(df_with_dummies)

         Name  Gender_F  Gender_M  Smoker_N  Smoker_Y
0  John Smith         0         1         0         1
1  Mary Brown         1         0         1         0

In [9]:
df= df_with_dummies = pd.get_dummies(df, columns=['Gender', 'Smoker'])

In [10]:
df

         Name  Gender_F  Gender_M  Smoker_N  Smoker_Y
0  John Smith         0         1         0         1
1  Mary Brown         1         0         1         0

Leia [Lidar com variáveis categóricas](https://riptutorial.com/pandas/topic/5999/dealingwith-categorical-variables)  online